#app {
  width: 100%;
  height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #222222;
}

@keyframes headerColor {
    0%   {color: #e74c3c;}
    100% {color: #3498db;}
}

.banner {
  width: 90%;
  height: 100px;
  line-height: 100px;
  border-bottom: 3px solid #3498db;
  border-radius: 3px;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  color: #3498db;
  font-size: 80px;
  animation-name: headerColor;
  animation-duration: 6s;
  text-shadow:
}

.nav-bar {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.anchors {
  font-size: 30px;
  color: #24CF5F;
  transition: all .2s ease-in-out;
}

.anchors:link {
  text-decoration: none;
}

.anchors:hover {
  transform: scale(1.1);
}

.main-body {
  width: 90%;
  height: 100%;
  border: 1px solid #e74c3c;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #24CF5F;
  border: 1px solid white;
}
