<!DOCTYPE html>
<html>
<!-- data-ng-app="demoApp" -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/appStyle.css"></link>
    <title>WidgetWorld</title>

  </head>

  <body>
    <div id="app">
      <div class="banner">
        Widget World
      </div>
      <div ng-controller="weatherWidget">
      </div>
    </div>





    <!-- <script src="../node_modules/angular/angular.min.js"></script> -->


    <!-- <script src="../javascripts/app.js"></script> -->
  </body>
</html>
