<!DOCTYPE html>
<html>
<!-- data-ng-app="demoApp" -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/homePage.css"></link>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>

    <title>WidgetWorld</title>

  </head>

  <body>
    <div id="app">
      <div class="banner">
        James World
      </div>
      <div class="nav-bar">
        <a href="#/news" class="anchors">News</a>
        <a href="#/news" class="anchors">Weather</a>
        <a href="#/news" class="anchors">Sports</a>
        <a href="#/news" class="anchors">Music</a>
      </div>

      <div class="main-body">

      </div>



      <div class="footer">
        HERE IS THE FOOTER
      </div>

    </div>





    <script src="../javascripts/app.js"></script>
  </body>
</html>
